<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="https://suhyun-ms-project3.onrender.com/socket.io/socket.io.js"></script>
  <script defer src="face-api.min.js"></script>
  <script defer src="script.js"></script>
  <link rel="stylesheet" href="nanumsquare.css">
  <style type="text/css">
    .caption4 {
        font-family: "NanumSquare";
        font-size: 10px;
        line-height: 14px;
        font-weight: 600;
    }
</style>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    #message-container {
      width: 50%;
      max-width: 1200px;
      
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      padding-bottom: 30px;
      position : fixed;
      left:25%;
      bottom : 0;
      background-color: white;
      max-width: 1200px;
      width: 50%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
      padding : 5;
      margin : 5;
    }
    #send-button{
      padding : 5;
      margin : 5;
    }

    #hi{
      padding-right: 40px;
      position: fixed;
      top: 0;
      /* width: 100% */

      right: 0;
    }
    #pp{
      padding-right: 40px;
      position: fixed;
      top: 0;
      /* width: 100% */
      right: 0;
    }
    #chat-box{
      margin : 0 auto;
      height : 100%;
    }
    #top-container{
      width : 50%;
      height : 70px;
      background-color: #aca9a9;
      text-align: center;
    }
    #font-select{
      position : fixed;
      left:25%;
      background-color: grey;
      bottom : 0;
      max-width: 1200px;
      width: 50%;
      height : 100px;
    }
  </style>
</head>
<body>
  <center>
  <div id="chat-box">
    <div class = "caption4" id="top-container"></div>
    <div id="message-container"></div>
    <div id="font-select"></div>
    <form id="send-container">
      <input type="text" id="message-input" onclick="showfont()">
      <button type="submit" id="send-button">전송</button>
    </form>
  </div>
  </center> 

  <span id="hi">
    <video id="video" width="216" height="284" autoplay muted></video>
  </span>
  <span id="pp">

  </span>
</body>
</html>